
.page-content {
    margin-top: 110px;
}

.disabled-link {
    pointer-events: none;
}

.appointment-cart {
    padding: 20px;
    margin: 10px;
}

.center {
    position: absolute;
    left: 35%;
    top: 35%;
    width: 500px;
}